:root {
  all: unset;

  color-scheme: light;
  background-color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  --resume-section-bg: #f0f0f0;
  --resume-typo-main: black;
  --resume-type-sec: #5c5c5c;
  --resume-accent: #28d979;
  --resume-sec-accent: #149063;
  --resume-recent-text: #ddf163;
  --resume-recent-bg: #7e731266;
}

/* reset start */
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset end */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#app {
  max-width: 1920px;
}

.resume-field {
  border: 1px solid #1a1a1a;
  height: 842px;
  width: 595px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.resume-content {
  height: 812px;
  width: 555px;
}

.resume-upper {
  height: 124px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.resume-img {
  width: 124px;
  height: 124px;
  object-fit: cover;
}

.resume-section {
  border-radius: 12px;
}

.resume-introduction {
  width: 100px;
  height: 100px;
  background-color: var(--resume-section-bg);
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resume-introduction p {
  width: 100px;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0%;
}

.resume-introduction div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 28px;
  width: 100px;
  height: 57px;
  gap: 6px;
}

.resume-introduction h1 {
  width: 100px;
  height: 15px;
  font-weight: 600;
  font-style: semibold;
  font-size: 14px;
  line-height: 104%;
  letter-spacing: 0%;
}

.resume-introduction h2 {
  color: var(--resume-type-sec);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  height: 36px;
}

@media only screen and (max-width: 600px) {
  .resume-field {
    width: 95vw;
  }

  .resume-content {
    width: 90vw;
  }
}
